<style>
    .modal-content {
        background-color: #b68234
    }
</style>

<!-- More Info -->
<div class="modal fade" id="Modal-Supplement-{{ pizza.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel" style="color: black;">
                    <!-- -->
                    {{ pizza.name }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color: black;">
                {{ pizza.description }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    style="background-color: rgb(151, 57, 57); color: black;">Close
                </button>
            </div>
        </div>
    </div>
</div>